{% extends 'pixels/index.html' %}

{% block type %}
<div class="pixels-info">
    <div class="pixels-text">{% endblock %}

{% block content %}
        <h1>pixels counter</h1>
        <h2>by valentina</h2>
        <p>небольшой сервис, который умеет сообщать каких пикселей больше на картинке, белых или черных;
            <br> по HEX коду цвета считать количество пикселей этого цвета на картинке. </p>
{% endblock %}

{% block bottom %}
        <div class="pixels-bottom">
            <form method="post" enctype="multipart/form-data" action="{% url 'image' %}">
                {% csrf_token %}
                <div class="load-image">
                    {% for field in form %}
                      {{field}}
                    {% endfor %}
                </div>
                <button type="submit">upload</button>
            </form>
        </div>
{% endblock %}