/*
* Design by Robert Mayer:https://goo.gl/CJ7yC8
*
*I intentionally left out the line that was supposed to be below the subheader simply because I don't like how it looks.
*
* Chronicle Display Roman font was substituted for similar fonts from Google Fonts.
*/

body {
  background-color: #fdf1ec;
}

a,
a:hover {
  color: #000;
  text-decoration: none;
}

.wrapper {
  height: 420px;
  width: 654px;
  margin: 50px auto;
  border-radius: 7px 7px 7px 7px;
  /* VIA CSS MATIC https://goo.gl/cIbnS */
  -webkit-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
    background-color: #ffffff;
}

.pixels-img {
  float: left;
  max-height: 360px;
  max-width: 327px;
}

.pixels-img img {
  align: center;
  margin: 30px auto auto 10px;
}


.pixels-info {
  float: right;
  height: 420px;
  width: 654px;
  border-radius: 0 7px 10px 7px;
  background-color: #ffffff;
}

.pixels-info-result {
  float: right;
  height: 420px;
  width: 327px;
  border-radius: 0 7px 10px 7px;
  background-color: #ffffff;
}

.pixels-text {
  height: 300px;
  width: 654px;
}

.pixels-result-text {
  height: 250px;
  width: 327px;
}

.pixels-result-text h1 {
  margin: 0 0 0 38px;
  padding-top: 52px;
  font-size: 34px;
  color: #474747;
}

.pixels-result-text h1,
.pixels-load-btn p {
  font-family: 'Bentham', serif;
}
.pixels-result-text h2 {
  margin: 0 0 47px 38px;
  font-size: 13px;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  color: #d2d2d2;
  letter-spacing: 0.2em;
}

.pixels-result-text p {
  height: 125px;
  margin: 0 0 0 38px;
  font-family: 'Playfair Display', serif;
  color: #8d8d8d;
  line-height: 1.7em;
  font-size: 15px;
  font-weight: lighter;
  overflow: hidden;
}

.pixels-text h1 {
  margin: 0 0 0 38px;
  padding-top: 52px;
  font-size: 34px;
  color: #474747;
}

.pixels-text h1,
.pixels-load-btn p {
  font-family: 'Bentham', serif;
}

.pixels-text h2 {
  margin: 0 0 47px 38px;
  font-size: 13px;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  color: #d2d2d2;
  letter-spacing: 0.2em;
}

.pixels-text p {
  height: 125px;
  margin: 0 0 0 38px;
  font-family: 'Playfair Display', serif;
  color: #8d8d8d;
  line-height: 1.7em;
  font-size: 15px;
  font-weight: lighter;
  overflow: hidden;
}

.check-hex{
  padding: 0 0 0 38px;
  font-size: 15px;
  font-family: 'Raleway', sans-serif;
  font-weight: lighter;
  color: #474747;
}

.pixels-bottom {
  display: flex;
  height: 103px;
  width: 654px;
  margin-top: 17px;
  position: relative;
}

.pixels-bottom-result {
  height: 103px;
  width: 327px;
  margin-top: 17px;
  position: relative;
}

.pixels-bottom p {
  display: inline-block;
  position: absolute;
  top: -13px;
  height: 50px;
  font-family: 'Trocchi', serif;
  margin: 0 0 0 38px;
  font-size: 28px;
  font-weight: lighter;
  color: #474747;
}

.load-image {
  display: inline;
  padding: 15px 0 0 38px;
  font-size: 15px;
  font-family: 'Raleway', sans-serif;
  font-weight: lighter;
  color: #474747;
}

.pixels-bottom button {
  float: right;
  display: inline-block;
  height: 50px;
  width: 176px;
  margin: 0 40px 0 16px;
  box-sizing: border-box;
  border: transparent;
  border-radius: 60px;
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #ffffff;
  background-color: #9cebd5;
  cursor: pointer;
  outline: none;
}

.pixels-bottom button:hover {
  background-color: #79b0a1;
}

.outer {
  position: relative;
  margin: 7px 5px auto auto;
  width: 50px;
  cursor: pointer;
}

.inner {
  width: inherit;
  text-align: center;
}

label {
  font-size: .8em;
  line-height: 4em;
  text-transform: uppercase;
  color: #000;
  transition: all .3s ease-in;
  opacity: 0;
  cursor: pointer;
}

.inner:before, .inner:after {
  position: absolute;
  content: '';
  height: 1px;
  width: inherit;
  background: #000;
  left: 0;
  transition: all .3s ease-in;
}

.inner:before {
  top: 50%;
  transform: rotate(45deg);
}

.inner:after {
  bottom: 50%;
  transform: rotate(-45deg);
}

.outer:hover label {
  opacity: 1;
}

.outer:hover .inner:before,
.outer:hover .inner:after {
  transform: rotate(0);
}

.outer:hover .inner:before {
  top: 0;
}

.outer:hover .inner:after {
  bottom: 0;
}